/* App.css simplifié */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020617; /* Évite un flash blanc au chargement */
}

code {
  font-family: 'Courier New', Courier, monospace;
}